* {
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  font-size: 62.5%;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #404040;
}
a {
  text-decoration: none;
  color: inherit;
}
.ksm_center-without-header {
  width: 100vw;;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}
