extends layout

block content
  h1= title
  p Welcome to #{title}
  div#container
    p {{text}}
  div.ui.three.buttons
    button.ui.active.button: | One
    button.ui.button: | Two
    button.ui.button: | Three
