extends layout

block content
  .privacy-policy
    img.logo(src='/images/icon/favicon-96x96.png' alt='kesamo-logo')
    h1.title How we collect and use data
    p.content
      | If you decide to register through a third-party integrated service, such as Google, 
      | kesamo may also collect Personal Information that is already associated with your integrated service account.
      | You may also have the option of sharing additional information with kesamo 
      | through an integrated service. If you choose to provice such information, during registration or otherwise, you are giving kesamo 
      | the permission to use, share, and store it in a manner consistent with this Privacy Notice.
    a.back_link(href='/')
      | Go Back